[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yogi Joshi (yogirjoshi)
[access "refs/for/refs/*"]
	read = group user/Yogi Joshi (yogirjoshi)
	push = group user/Yogi Joshi (yogirjoshi)
	label-Code-Review = -2..+2 group user/Yogi Joshi (yogirjoshi)
	label-Verified = -1..+1 group user/Yogi Joshi (yogirjoshi)
	rebase = group user/Yogi Joshi (yogirjoshi)
	removeReviewer = group user/Yogi Joshi (yogirjoshi)
	submit = group user/Yogi Joshi (yogirjoshi)
[access "refs/heads/*"]
	read = group user/Yogi Joshi (yogirjoshi)
	create = group user/Yogi Joshi (yogirjoshi)
	push = +force group user/Yogi Joshi (yogirjoshi)
	pushMerge = group user/Yogi Joshi (yogirjoshi)
[access "refs/tags/*"]
	push = group user/Yogi Joshi (yogirjoshi)
	push = +force group user/Yogi Joshi (yogirjoshi)
